@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
  color: #ffffff;
}

/* GLOBAL ELEMENTS */

.styledList{
  list-style-type: none;
  padding-left: 0;
}
.styledList li {
  position: relative;
  margin-bottom: .25rem;
  padding-left: 1.5rem;
}
.styledList li::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
  background-color: #72e2ae;
}

/* ANIMATIONS */

.animate-leftToRight {
  animation: titleDeviderAnimation 3s ease-in-out infinite;
}
@keyframes titleDeviderAnimation {
  0% {
    transform: translateX(-6px);
  }
  to {
    transform: translateX(128px);
  }
}

.animate-ledgerLeftRight {
  animation:ledgerLeftRight 3s ease-in-out infinite;
}
@keyframes ledgerLeftRight {
  0% {
   left:-40px
  }
  to {
   left:100%
  }
 }

.animate-ledgerRightLeft {
  animation:ledgerRightLeft 3s ease-in-out infinite;
}
@keyframes ledgerRightLeft {
  0% {
   right:-40px
  }
  to {
   right:100%
  }
 }

 .animate-ledgerBottomTop {
  animation:ledgerBottomTop 3s ease-in-out infinite;
}
@keyframes ledgerBottomTop {
  0% {
   bottom:-40px
  }
  to {
   bottom:100%
  }
 }
 
 .animate-ledgerTopBottom {
  animation:ledgerTopBottom 3s ease-in-out infinite;
}
@keyframes ledgerTopBottom {
  0% {
   top:-40px
  }
  to {
   top:100%
  }
 }
